# OS
.DS_Store

# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Build
build/
dist/
*.egg-info/

# Envs
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Data outputs
data/**/*.parquet
data/**/*.feather
data/**/*.pkl


